cycler==0.11.0
data==0.4
decorator==5.1.1
fonttools==4.32.0
funcsigs==1.0.2
iso8601==1.0.2
kiwisolver==1.4.2
matplotlib==3.5.1
numpy==1.22.3
numpy-quaternion==2022.4.1
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
pyparsing==3.0.8
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
scipy==1.8.0
six==1.16.0
